body {
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1.15rem;
  color: grey;
}

h1 {
  text-transform: uppercase;
}

.standard-page {
  margin-left: 15%;
  margin-right: 15%;
}